.form-container{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.form-content-container{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
}